.bottom-row{
  display: flex;
  padding-top: 25px;
  justify-content: space-between;
  form {
    display: flex;
    width: calc(60% + 75px);
    justify-content: space-between;
    padding: 10px 0;
  }
  button.start-reset{
    margin-left: 25px;
    display: block;
  }
}


input[type="radio"]:checked + label {
  box-shadow: 0 0 3px 2px white;
}
input[type="radio"]{
  display: none;
}

@media(max-width: 550px){
  .bottom-row{
    padding-top: 10px;
    button{
      margin-left: 10px;
      width: calc(40% - 60px)
    }
  }
}
