.bottom-row{
  display: flex;
  padding-top: 25px;
  form {
    display: flex;
    width: calc(70% + 30px);
    justify-content: space-between;
    padding: 10px 0;
  }
  button{
    margin-left: 25px;
  }
}


input[type="radio"]:checked + label {
  box-shadow: 0 0 3px 2px white;
}
input[type="radio"]{
  display: none;
}
