.bottom-row{
  display: flex;
  padding-top: 25px;
  form {
    display: flex;
    width: calc(60% + 75px);
    justify-content: space-between;
    padding: 10px 0;
  }
  button{
    margin-left: 25px;
    display: block;
  }
}


input[type="radio"]:checked + label {
  box-shadow: 0 0 3px 2px white;
}
input[type="radio"]{
  display: none;
}

@media(max-width: 450px){
  .bottom-row{
    padding-top: 10px;
    form {
      width: calc(60% + 60px);
      padding: 10px 0;
    }
    button{
      margin-left: 10px;
    }
  }
}
@media(max-width: 359px){
  .bottom-row{
    padding-top: 8px;
    button.start-reset{
      margin-left: 6px;
      width: calc(40% - 62px)
    }
  }
}
