.game-container{
  margin: 0 auto;
  width: 500px;
  background: url("../assets/wood-background.jpeg");
  background-size: cover;
  padding: 25px 0;
  border-radius: 10px;
  box-shadow: 5px 5px 6px rgba(0, 0, 0, 0.75);
}