html{
  font-size: 125%;
}
body{
  margin: 0;
  font-size: .85rem;
  // font-family: $body-font;
  background-color: $body-color
}
.wrapper{
  margin: 0 auto;
  padding: 0 25px;
  max-width: 1400px;
}

button{
  width: 75px;
  border: none;
  border-radius: 10px;
  background: $accent;
  box-shadow: 1px 1px 1px 1px black;
}
button:active{
  box-shadow: 0px 0px 0px 0px black;
}
