.rules-page{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
  display: none;
  flex-direction: column;
  align-items: center;
}

.rules-page h2{
  color: black;
  text-align: center;
  font-family: $header-font;
  font-size: 30px;
}

.rules-page p {
  font-family: 'Nanum Gothic', sans-serif;
  font-weight: 700;
}
.rules-page li{
  margin: 12px 10px;
}

.close-rules-button {
  height: 45px;
  width: calc(40% - 100px);
}

@media(max-width: 550px){
  .rules-page p {
    margin: 5px; 
  }
  .close-rules-button {
    width: calc(40% - 70px);
  }
}
@media(max-width: 400px){
  .rules-page p {
    margin: 8px 0;
    font-size: 16px 
  }
  .rules-page ul{
    padding: 2px;
    width: 90%;
  }
  .rules-page li {
    margin: 5px 0px; 
  }
  .close-rules-button {
    width: calc(40% - 62px)
  }
}