input[type="radio"]:checked + label {
  box-shadow: 0 0 3pt 2pt white;
}
input[type="radio"]{
  display: none;
}


form {
  display: flex;
  width: 70%;
  justify-content: space-around;
  padding: 10px 0;
}