.top-row {
  justify-content: space-between;
}

.answer-holder{
  position: relative;
  font-weight: 700;
}

.answer-cover{
  position: absolute;
  top: 0px;
  right: 0px;
  bottom:0px;
  left: 0px;
  background: $accent;
  border-radius: 10px;
  text-align: center;
  padding: 15px;
  transform-origin: top;
  transition: all 2.00s ease-in-out;
  border: 1px solid black;

}


.answer-cover.reveal{
  transform: perspective(1200px) rotateX(-91deg);
}

.top-row button.rules-button{
  display: block;
}