.top-row {
  justify-content: space-between;
}

.answer-holder{
  position: relative;
}

.answer-cover{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: $accent;
  border-radius: 10px;
  text-align: center;
  padding-top: 15px;
  z-index: 1;
}

.answer-cover.reveal{
  display: none;
}

.top-row button.rules{
  display: block;
}