article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block;
}

audio, canvas, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: 700;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: \201C \201D \2018 \2019;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -.5em;
}

sub {
  bottom: -.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button, input {
  line-height: normal;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body, figure {
  margin: 0;
}

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden;
}

html {
  font-size: 125%;
}

body {
  margin: 0;
  font-size: .85rem;
  background-color: #70D1A4;
}

.wrapper {
  margin: 0 auto;
  padding: 0 25px;
  max-width: 1400px;
}

.game-container {
  margin: 0 auto;
  width: 500px;
  background: url("../assets/wood-background.jpeg");
  background-size: cover;
  padding: 25px 0;
  border-radius: 10px;
  -webkit-box-shadow: 5px 5px 6px rgba(0, 0, 0, 0.75);
          box-shadow: 5px 5px 6px rgba(0, 0, 0, 0.75);
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px 0;
}

.guess-container {
  width: 60%;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: rgba(137, 109, 66, 0.6);
  -webkit-box-shadow: inset 0 3px 10px #000000;
          box-shadow: inset 0 3px 10px #000000;
}

.guess-holder {
  margin: 10px auto;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: radial-gradient(circle, black 0%, rgba(0, 0, 0, 0.5) 40%, rgba(0, 0, 0, 0) 50%);
}

.clue-container {
  width: 50px;
  margin-left: 25px;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background: rgba(137, 109, 66, 0.6);
  -webkit-box-shadow: inset 0 3px 10px #000000;
          box-shadow: inset 0 3px 10px #000000;
}

.clue-holder {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin: 2px 2px;
  background: radial-gradient(circle, black 0%, rgba(0, 0, 0, 0.5) 40%, rgba(0, 0, 0, 0) 50%);
}

.row button {
  display: none;
  margin-left: 25px;
}

.row button.showButton {
  display: block;
}

.pin {
  width: 25px;
  height: 25px;
  display: block;
  border-radius: 50%;
}

.guess-holder.pin {
  width: 25px;
  height: 25px;
}

.red.pin {
  background: radial-gradient(circle at 10px 10px, red, black);
}

.blue.pin {
  background: radial-gradient(circle at 10px 10px, blue, black);
}

.yellow.pin {
  background: radial-gradient(circle at 10px 10px, yellow, black);
}

.green.pin {
  background: radial-gradient(circle at 10px 10px, green, black);
}

.pink.pin {
  background: radial-gradient(circle at 10px 10px, pink, black);
}

.white.pin {
  background: radial-gradient(circle at 10px 10px, white, black);
}

input[type="radio"]:checked + label {
  -webkit-box-shadow: 0 0 3pt 2pt white;
          box-shadow: 0 0 3pt 2pt white;
}

input[type="radio"] {
  display: none;
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 70%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 10px 0;
}

.peg {
  width: 10px;
  height: 10px;
  display: block;
  border-radius: 50%;
}

.clue-holder.peg {
  width: 10px;
  height: 10px;
}

.peg.white {
  background: radial-gradient(circle at 4px 4px, white, black);
}

.peg.black {
  background: radial-gradient(circle at 3px 3px, #333333, black);
}
/*# sourceMappingURL=styles.css.map */