article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block;
}

audio, canvas, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: 700;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: \201C \201D \2018 \2019;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -.5em;
}

sub {
  bottom: -.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button, input {
  line-height: normal;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body, figure {
  margin: 0;
}

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden;
}

html {
  font-size: 125%;
}

body {
  margin: 0;
  font-size: .85rem;
  background-color: #70D1A4;
  padding-top: 25px;
}

main {
  position: relative;
}

.wrapper {
  margin: 0 auto;
  padding: 0 25px;
  max-width: 1400px;
}

button {
  border: none;
  border-radius: 10px;
  background: #ced0ce;
  -webkit-box-shadow: 1px 1px 1px 1px black;
          box-shadow: 1px 1px 1px 1px black;
  font-weight: 700;
  cursor: pointer;
  margin-left: 25px;
  width: calc(40% - 100px);
}

button:active {
  -webkit-box-shadow: 0px 0px 0px 0px black;
          box-shadow: 0px 0px 0px 0px black;
}

@media (max-width: 550px) {
  body {
    padding-top: 5px;
  }
  .wrapper {
    padding: 0 15px;
  }
  button {
    padding: 0;
    font-size: 14px;
  }
}

@media (max-width: 450px) {
  .wrapper {
    padding: 0 8px;
  }
  button {
    padding: 0;
    font-size: 14px;
    width: calc(40% - 70px);
  }
}

@media (max-width: 400px) {
  .wrapper {
    padding: 0 8px;
  }
  button {
    padding: 0;
    font-size: 14px;
    width: calc(40% - 62px);
  }
}

h1 {
  font-family: "Baloo", sans-serif;
  text-align: center;
}

.game-container {
  margin: 0 auto;
  width: 500px;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(139, 69, 19, 0.3)), to(rgba(139, 69, 19, 0.3))), url("../assets/wood-background.jpeg");
  background: linear-gradient(0deg, rgba(139, 69, 19, 0.3), rgba(139, 69, 19, 0.3)), url("../assets/wood-background.jpeg");
  background-size: cover;
  padding: 15px 0;
  border-radius: 10px;
  -webkit-box-shadow: 5px 5px 6px rgba(0, 0, 0, 0.75);
          box-shadow: 5px 5px 6px rgba(0, 0, 0, 0.75);
}

.game-container h1 {
  margin: 0;
}

@media (max-width: 550px) {
  .game-container {
    width: 95%;
    padding: 10px 0;
  }
}

@media (max-width: 359px) {
  .game-container h1 {
    display: none;
  }
}

.rules-page {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.rules-page h2 {
  color: black;
  text-align: center;
  font-family: "Baloo", sans-serif;
  font-size: 30px;
}

.rules-page p {
  font-family: 'Nanum Gothic', sans-serif;
  font-weight: 700;
}

.rules-page li {
  margin: 12px 10px;
}

.close-rules-button {
  height: 45px;
}

@media (max-width: 550px) {
  .rules-page p {
    margin: 5px;
  }
  .close-rules-button {
    width: calc(40% - 70px);
  }
}

@media (max-width: 400px) {
  .rules-page p {
    margin: 8px 0;
    font-size: 16px;
  }
  .rules-page ul {
    padding: 2px;
    width: 90%;
  }
  .rules-page li {
    margin: 5px 0px;
  }
}

.top-row {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.answer-holder {
  position: relative;
  font-weight: 700;
}

.answer-cover {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background: #ced0ce;
  border-radius: 10px;
  text-align: center;
  padding: 15px;
  -webkit-transform-origin: top;
          transform-origin: top;
  -webkit-transition: all 2.00s ease-in-out;
  transition: all 2.00s ease-in-out;
}

.answer-cover.reveal {
  -webkit-transform: perspective(1200px) rotateX(-91deg);
          transform: perspective(1200px) rotateX(-91deg);
}

.top-row button.rules-button {
  display: block;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px 0;
}

.guess-container {
  width: 60%;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: rgba(137, 109, 66, 0.6);
  -webkit-box-shadow: inset 0 3px 10px #000000;
          box-shadow: inset 0 3px 10px #000000;
}

.guess-holder {
  margin: 10px auto;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: radial-gradient(circle, black 0%, rgba(0, 0, 0, 0.5) 40%, rgba(0, 0, 0, 0) 50%);
}

.clue-container {
  width: 50px;
  margin-left: 25px;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background: rgba(137, 109, 66, 0.6);
  -webkit-box-shadow: inset 0 3px 10px #000000;
          box-shadow: inset 0 3px 10px #000000;
}

.clue-holder {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin: 2px 2px;
  background: radial-gradient(circle, black 0%, rgba(0, 0, 0, 0.5) 40%, rgba(0, 0, 0, 0) 50%);
}

.row button {
  display: none;
}

.row button.showButton {
  display: block;
}

@media (max-width: 550px) {
  .row {
    padding: 8px 0;
  }
}

@media (max-width: 450px) {
  .clue-container {
    margin-left: 10px;
  }
  .row button {
    margin-left: 10px;
  }
}

@media (max-width: 376px) {
  .row {
    padding: 3px 0;
  }
  .clue-container {
    margin-left: 6px;
  }
  .row button {
    margin-left: 6px;
    width: calc(40% - 62px);
  }
}

.pin {
  width: 25px;
  height: 25px;
  display: block;
  border-radius: 50%;
  -webkit-box-shadow: 0 1px 1px 1px black;
          box-shadow: 0 1px 1px 1px black;
  cursor: pointer;
}

.guess-holder.pin {
  width: 25px;
  height: 25px;
}

.red.pin {
  background: radial-gradient(circle at 10px 10px, #FF4136, #444444);
}

.blue.pin {
  background: radial-gradient(circle at 10px 10px, #0074D9, #444444);
}

.yellow.pin {
  background: radial-gradient(circle at 10px 10px, #FFDC00, #444444);
}

.green.pin {
  background: radial-gradient(circle at 10px 10px, #2ECC40, #444444);
}

.pink.pin {
  background: radial-gradient(circle at 10px 10px, #F012BE, #444444);
}

.white.pin {
  background: radial-gradient(circle at 10px 10px, #DDDDDD, #444444);
}

@media (max-width: 500px) {
  .bottom-row {
    padding-top: 10px;
  }
  .bottom-row button {
    margin-left: 10px;
  }
}

.bottom-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 15px;
}

.bottom-row form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: calc(60% + 75px);
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px 0;
}

.bottom-row button {
  margin-left: 25px;
  display: block;
}

input[type="radio"]:checked + label {
  -webkit-box-shadow: 0 0 3px 2px white;
          box-shadow: 0 0 3px 2px white;
}

input[type="radio"] {
  display: none;
}

@media (max-width: 450px) {
  .bottom-row {
    padding-top: 10px;
  }
  .bottom-row form {
    width: calc(60% + 60px);
    padding: 10px 0;
  }
  .bottom-row button {
    margin-left: 10px;
  }
}

@media (max-width: 359px) {
  .bottom-row {
    padding-top: 8px;
  }
  .bottom-row button.start-reset {
    margin-left: 6px;
    width: calc(40% - 62px);
  }
}

.peg {
  width: 10px;
  height: 10px;
  display: block;
  border-radius: 50%;
}

.clue-holder.peg {
  width: 10px;
  height: 10px;
}

.peg.white {
  background: radial-gradient(circle at 4px 4px, white, black);
}

.peg.black {
  background: radial-gradient(circle at 3px 3px, #333333, black);
}
/*# sourceMappingURL=styles.css.map */